{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Log in</title>
  <link rel="stylesheet" href="{% static 'Log/log_in.css' %}">

</head>
<body>
<div class="login-box">
  <h2>Login</h2>
  <form method="post" action="{% url 'User:LogIn' %}" autocomplete="off" >
    {% csrf_token %}
    <div class="user-box">
      <input type="text" name="username"  id="{{form.username.id}}" autocomplete="off" required id="{{form.username.id}}" />
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" autocomplete="off" required id="{{form.password.id}}" />
      <label>Password</label>
    </div>

    
    
    <input type="submit" id="submit" value="aaaaa" style="visibility: hidden;" />
    <a href="#" type="submit" onclick="click_log()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Log IN
    </a>

    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
  <script>
    const submit_btn = document.querySelector("#submit");

    function click_log() {
      submit_btn.click();
    }

  </script>
  
</body>
</html>
